<nav>
    <a href="/login/register">Go to Regisration</a>
    <a href="/">Back to Home Page</a>

</nav>

<section class="login">
    <h2>Log in</h2>
    <form action="/login" method="POST">
        <p>
            <label>
                Login:
                <input name="login" type="text">

            </label>
        </p>
        <p class="password">
            <label>
                Password:
                <input name="password" type="password">
            </label>
        </p>
        <button class="login">Log in</button>
    </form>
</section>

