<nav>
    <a href="/login">go to login page</a>
    <a href="/">Back to Home Page</a>

</nav>

<section class="register">
    <h2>Register</h2>
    <form action="/login/register" method="POST">
        <p>
            <label>
                Login:
                <input name="login" type="text">

            </label>
        </p>
        <p class="password">
            <label>
                Password:
                <input name="password" type="password">
            </label>
        </p>
        <button class="login">Register</button>
    </form>
</section>